*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}
.navbar{
    top: 0;
    position: sticky;
    background-color: aqua;
    padding: 1rem;
    z-index: 1;
    display: flex;

}
#toggle{
    position: relative;
    width: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    display: none;
}
.icon{
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    display: none;
}

.subcontainer{
    display: flex;
}
.sidebar{
    height: calc(100vh - 59.2px);
    top: 59.2px;
    position: sticky;
    align-self: start;
    background-color: rgb(196, 115, 115);
    width: 200px;
    /* flex: 1; */
}
.mainbar{
    background-color: rgb(165, 162, 162);
    flex: 4;
    min-height: 100vh;
}
.footerbar{
    
    background-color: green;
    padding: 1rem;
}

@media(max-width:800px){
    
    /* .subcontainer{
        flex-direction: column;
    } */
    aside{
        position: fixed;
        width: 300px;
        display: none;
    }
    nav{
        gap: 20px;
    }
    #toggle, .icon{
        display: block;
    }

    nav:has(#toggle:checked)+section .sidebar{
        display: block;
    }
}

